## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Uribia,CO,78.33,overcast clouds,11.7139,-72.2660,Hotel Uribia
1,3,Dingle,PH,82.63,broken clouds,10.9995,122.6711,SEGAYA PROPERTY
2,9,Tias,ES,65.95,clear sky,28.9611,-13.6450,Hotel Beatriz Playa & SPA
3,10,Hualmay,PE,63.32,overcast clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho
4,12,Rikitea,PF,74.59,moderate rain,-23.1203,-134.9692,People ThankYou

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [84]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Shingu" ]
vacation_end = vacation_df.loc[vacation_df["City"] == "Shingu" ]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Tateyama" ]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Hasaki" ] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Wakuya" ]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
160,303,Shingu,JP,70.79,overcast clouds,33.7333,135.9833,Shingu UI Hotel

In [85]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]
stop1

array([ 34.9833, 139.8667])

In [86]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
Shingu=start
Tateyama =stop1
Hasaki =stop2
Wakuya =stop3
JP_trip = gmaps.directions_layer(Shingu,end, waypoints=[Tateyama,Hasaki,Wakuya], travel_mode="DRIVING")
fig.add_layer(JP_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [87]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,303,Shingu,JP,70.79,overcast clouds,33.7333,135.9833,Shingu UI Hotel
1,196,Tateyama,JP,63.10,light rain,34.9833,139.8667,Tateyama Seaside Hotel
2,152,Hasaki,JP,62.89,light rain,35.7333,140.8333,Hotel Sunrise Choshi
3,612,Wakuya,JP,60.76,overcast clouds,38.5333,141.1333,ããã«ãµããã®å¤¢ãå¶ãã¾ããã

In [89]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [90]:
# 11a. Add a marker layer for each city to the map.
locations

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))